{% set action_content = action.content %}

{% macro redirect(level) -%}
[{{ level }}]({{ "/".join(['..']*level) }}/README.md)
{%- endmacro -%}

{% for index in range(1, 4 ) -%}
    / {{ redirect(index) }}
{%- endfor %}

# {{ action_content.name }}

{{ action_content.description }}

{% if action_content.inputs %}
## Inputs

{# 

{% for item_key, item_value in action_content.inputs.items() %}
* `{{ item_key }}`: {{ '**Required**' if item_value.required else '**Not Required**' }}. {{ item_value.description}}  
{% endfor %}
#}

Name | Required | Description
:-- | --- | :--
{% for item_key, item_value in action_content.inputs.items() -%}
`{{ item_key }}`| {{ '**Required**' if item_value.required else '**Not Required**' }} | {{ item_value.description}}  
{% endfor -%}

{%- endif %}

{% if action_content.outputs %}
## Outputs

{# 
{% for item_key, item_value in action_content.outputs.items() %}
* `{{ item_key }}`: {{ item_value.description}}  
{% endfor %}
#}

Name | Description
:-- | :--
{% for item_key, item_value in action_content.outputs.items() -%}
`{{ item_key }}` | {{ item_value.description}}  
{% endfor -%}

{%- endif -%}

## Usage

Usage Example:
```yaml

{{ action.example}}

```

{% if action.source_files -%}
## Source Files
{% for item in action.source_files -%}
- [{{ item }}]({{ item }})
{% endfor %}
{%- endif -%}

{% if action.additional_files -%}
## Additional files
{% for item in action.additional_files -%}
- [{{ item }}]({{ item }})
{% endfor %}
{%- endif -%}

