

{% if groups -%}
## Groups
{% for group in groups -%}
{% if group.doc_items | length  > 0 -%}
## [{{ group.relative_dir }}]({{ group.relative_dir }})

File | Name | Description 
:--|:--|:--
{% for item in group.doc_items -%}
{{ item.content.name }} | [{{ item.name_dir }}]({{ item.source_dir | replace("\\", "/") }}/README.md) | {{ item.content.description }}
{% endfor %}

{%- endif -%}
{% endfor %}
{%- endif -%}